<!DOCTYPE html>
{% load static %}


<html><head lang="en">
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <link type="text/css" rel="stylesheet" href="{% static 'syskontool/syskontool-base.css' %}">
    <link rel="icon" type="image/png"       href="{% static 'syskontool/img/favicon1.png' %}">
    <title>{% block title %}syskontool{% endblock %}</title>
</head>
<body>



<div class="main_1">

{% include "syskontool/page_head.html" with base=base only%}

{% block content %}
Content of the extended template
{% endblock %}

{% include "syskontool/page_foot.html" %}

</div>


</body>
</html>
