{% extends "syskontool/base.html" %}

{% block title %}{{c.poll.title}}{% endblock %}
{% block content %}

<div class="brick_form">

<h2>Poll:{{c.poll.title}}</h2>
<div class="poll_description">
{{c.poll.description}}
</div>

<form action="action_url" method="post">



{% csrf_token %}

{% for option in c.option_list %}

    <div class="row">
      <div class="col-75">
        <label for="{{option.id}}_range">{{option.content}}</label>
      </div>
      <div class="col-25">
        <input type="range" min="0" max="10" value="0" id="{{option.id}}_range" oninput="this.form.{{option.id}}_input.value=this.value" style="width:70px;  margin-left: auto; padding-left: 10px;">
        <input type="number" id="{{option.id}}_input" min="0" max="10" value="0" oninput="this.form.{{option.id}}_range.value=this.value" style="width:50px;"/>
      </div>
    </div>

{%endfor%}

        <div class="row">
<!-- !!hcl -->
      <input type="submit" value="Submit">
    </div>

<hr class="hr_style_gradient opacity30">
</form>

</div>


<!--Type: {{pagetype}}-->
{% endblock %}

