{% load i18n %}

<hr class="section_divider hr_style_gradient">
<div class="box_base box_footer">

    <div class="box_footer_text modest_links">
    This web site is powered by the free software
    <a href="https://github.com/cknoll/django-sober">sober</a> in version xyz.
    </div>

    <div class="box_header_menu">
        <!-- !!hcl_de -->
    <a href="abc">{% trans "Legal Notice" %}</a> |
    <a href="abc">{% trans "Privacy" %}</a> |
    <a href="abc">{% trans "Contact" %}</a>
    </div>
</div>
<br>
