{% load static %}

<!DOCTYPE html>
<html>
    <head lang="en">
        <meta http-equiv="content-type" content="text/html; charset=UTF-8">
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no" />

        <link type="text/css" rel="stylesheet" href="{% static 'moodpoll/moodpoll.css' %}">

        {# TODO replace by self-hosted versions #}
        <!-- <link type="text/css" rel="stylesheet" href="{% static 'moodpoll/base.css' %}"> -->
        <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre.min.css">
        <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre-exp.min.css">

        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

        <link rel="icon" type="image/png"       href="{% static 'moodpoll/img/favicon1.png' %}">

        <title>
            {% block title %}
            moodpoll
            {% endblock %}
        </title>
    </head>
    <body>
        <header class="columns mt-2">
            <div class="column col-mx-auto col-9 col-md-11 col-xs-12">
                {% include "moodpoll/snippets/base/header.html" with base=base only%}
            </div>
        </header>
            
        <main class="columns">
            <div class="column col-mx-auto col-9 col-md-11 col-xs-12">
                {% block toasts %}
                {% include "moodpoll/snippets/toasts.html" with keep_toasts=True %}
                {% endblock %}

                {% block content %}
                If you can see this, please file a bug report.
                {% endblock %}
            </div>
        </main>

        <footer class="columns">
            <div class="column col-mx-auto col-9 col-md-11 col-xs-12">
                {% include "moodpoll/snippets/base/footer.html" with base=base only%}
            </div>
        </footer>
    </body>
</html>

{# toasts have been printed, but not cleared yet. do that #}
{% include "moodpoll/snippets/toasts.html" with not_print_toasts=True %}
