{% extends "moodpoll/base.html" %}
{% load extra_filters %}

{% block title %}{{c.poll.title}}{% endblock %}
{% block content %}

<div class="brick_form">


{# unit test comments #}
<!--utc_show_poll-->
{% if c.utc_new_poll %}
<!--utc_{{c.utc_new_poll}}-->
{% endif %}

{% if c.msg %}
{{c.msg}} <a href="{{c.full_url}}">{{c.full_url}}</a>
<hr class="hr_style_gradient opacity30">
{% endif %}


<h2>{{c.poll.title}}</h2>
<div class="poll_description">
{{c.poll.description|render_markdown_bleach|safe}}
</div>

<form action="{% url c.action_url_name c.pk%}" method="post">



{% csrf_token %}

{% for option in c.option_list %}

    <div class="row">
      <div class="col-75">
        <label for="{{option.id}}_range">{{option.content}}</label>
      </div>
      <div class="col-25">
        <input type="range" min="{{c.min}}" max="{{c.max}}" value="{{option.start_value}}" id="{{option.id}}_range" name="{{option.id}}_range" oninput="this.form.{{option.id}}_input.value=this.value" style="width:70px;  margin-left: auto; padding-left: 10px;">
        <input type="number" id="{{option.id}}_input" name="{{option.id}}_input" min="{{c.min}}" max="{{c.max}}" value="{{option.start_value}}" oninput="this.form.{{option.id}}_range.value=this.value" style="width:50px;"/>
      </div>
    </div>

{%endfor%}

<input type="hidden" name="proof" value="of concept2">

{# User name #}

{% if c.name_conflict_mode %}

<hr class="hr_style_gradient opacity30">
<div class="row">
      <div class="warning">
        A user named "{{c.old_username}}" has already voted for this poll ({{c.old_dt_string}}).
        If this was you, and you want to change your vote, please explicitly check the box "Overwrite" below and type in your name again.
        <br>
        If this was not you, please choose a different name which is not "{{c.old_username}}".
      </div>
</div>

<hr class="hr_style_gradient opacity30">


<div class="row">
      <div class="col-75">
        <label for="username1">Name:</label>
      </div>
      <div class="col-25">
        <input type="text" value="" id="username1" name="username" style="width:100%;  margin-left: auto; padding-left: 10px;">
      </div>
</div>

<div class="row">
      <div class="col-75">
        <label for="overwrite_flag">Overwrite?</label>
      </div>
      <div class="col-25">
        <input type="checkbox" id="overwrite_flag" name="overwrite_flag" value="True">
      </div>
</div>

<div class="row">
<!-- !!hcl -->
      <input type="submit" value="Resubmit">
</div>


{% else %}


<div class="row">
      <div class="col-75">
        <label for="username2">Name:</label>
      </div>
      <div class="col-25">
        <input type="text" value="{{c.username}}" id="username2" name="username" style="width:100%;  margin-left: auto; padding-left: 10px;">
      </div>
</div>

<div class="row">
<!-- !!hcl -->
      <input type="submit" value="Submit">
</div>
{% endif %}


</form>

</div>


<!--Type: {{pagetype}}-->
{% endblock %}

