{% load i18n %}

<hr class="section_divider hr_style_gradient">
<div class="box_base box_footer">

    <div class="box_footer_text modest_links">
    This web site is powered by the free software
    <a href="https://codeberg.org/cknoll/django-moodpoll">moodpoll</a>.
    </div>

    <div class="footer_menu">
        <!-- !!hcl_de -->
    <a href="{% url 'about-page' %}">{% trans "About this App" %}</a> |
    <a href="{% url 'imprint-page' %}">{% trans "Legal Notice" %}</a> |
    <a href="{% url 'privacy-page' %}">{% trans "Privacy" %}</a> |
    <a href="{% url 'contact-page' %}">{% trans "Contact" %}</a>
    </div>
</div>
<br>
