.form-icon.material-icons {
    font-size: 18px;
}

textarea ~ .form-icon.material-icons {
    top: 18px !important;
}

/*
.btn-lg > .material-icons {
    font-size: .9rem;
}
*/

.avatar-sm > .material-icons {
    font-size: 1.2rem;
}

.material-icons {
    vertical-align: middle;
}

.moodpoll-collapsible:checked ~ div {
    display: block !important;
}

.moodpoll-collapsible:checked ~ div .moodpoll-expand-btn {
    display: none;
}

.moodpoll-collapsible ~ div .moodpoll-collapse-btn {
    display: none;
}

.moodpoll-collapsible:checked ~ div .moodpoll-collapse-btn {
    display: inline-block;
}

.center-flex {
    display: flex;
    align-items: center;
}

.no-border {
    border: 0 !important;
}

.moodpoll-slider-bg-wrapper {
    position: relative !important;
}


.moodpoll-slider-bg-input-div {
    z-index: 100;
    position: relative;
}

.moodpoll-slider-bg-input-div > .slider {
    height: 1.2rem !important;
}

.moodpoll-slider-bg-input-div > .slider::-moz-range-thumb,
.moodpoll-slider-bg-input-div > .slider::-webkit-slider-thumb {
    width: 0.6rem;
    height: 0.6rem;
}

.moodpoll-slider-bg-input-div > .slider::-moz-range-track,
.moodpoll-slider-bg-input-div > .slider::-webkit-slider-track {
    background-color: transparent;
}

.moodpoll-slider-bg-all {
    z-index:-100;
    position:absolute;
    top:0.45rem;
    left:0.3rem;
    width: calc(100% - 0.6rem);
    height: 0.3rem;
    background-color: #00d800;
    border-radius:0.4rem;
    overflow: hidden;
}

.moodpoll-slider-bg-red {
    border: 0;
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: #d80000;
}

.moodpoll-bar-bg-wrapper {
    width:100%;
    position:relative;
}

.moodpoll-bar-bg-wrapper > .bar {
    z-index:0;
    position: relative;
    height: 0.8rem !important;
}

.moodpoll-bar-bg {
    z-index: 100;
    position:absolute;
    top:0;
    left: 0;
    height: 0.8rem;
    border-right: white 1px solid;
    overflow:hidden;
}

.nobr {
    white-space: nowrap;
}
