{% extends "moodpoll/base.html" %}

{% block title %}
New Poll
{% endblock %}

{% block toasts %}{# toasts are displayed not in the default block #}{% endblock %}

{% block content %}

<div class="columns">
    <div class="column col-12">
        
        <form action="" method="post" class="form-horizontal">
            {% csrf_token %}
            <h3>
                Create a New Poll
            </h3>

            {% include "moodpoll/snippets/toasts.html" %}
            <div class="mb-2"></div>

            <div class="form-group">
                <label class="form-label col-2 col-sm-12" for="title">
                    Title
                </label>
                <div class="has-icon-left col-10 col-sm-12">
                    <input class="form-input col-12" type="text" id="title" name="title" placeholder="optional: title">
                    <i class="form-icon icon material-icons">label</i>
                </div>
            </div>

            <input type="checkbox" id="moodpoll-poll-settings-visible" class="moodpoll-collapsible">
            <div class="form-group col-12">
                <label class="btn btn-sm btn-action moodpoll-expand-btn mr-2" for="moodpoll-poll-settings-visible">
                    <i class="material-icons">expand_more</i>
                </label>
                <label class="btn btn-sm btn-action moodpoll-collapse-btn mr-2" for="moodpoll-poll-settings-visible">
                    <i class="material-icons">expand_less</i>
                </label>
                Additional Settings
            </div>

            <div class="divider moodpoll-collapsible-flex"></div>

            <div class="form-group moodpoll-collapsible-flex">
                <label class="form-label col-2 col-sm-12" for="description">
                    Description
                </label>
                <div class="has-icon-left col-10 col-sm-12">
                    <textarea class="form-input col-12" id="description" name="description" placeholder="optional: description
markdown is enabled"></textarea>
                    <i class="form-icon icon material-icons">notes</i>
                </div>
            </div>

            <div class="form-group moodpoll-collapsible-flex">
                <div class="col-12">
                    <h6>Range of Votes</h6>
                </div>
                <div class="col-12 pl-2">
                    <p>
                        Numbers less than 0 mean disagreement, greater 0 agreement.
                    </p>
                </div>
            </div>

            <div class="form-group moodpoll-collapsible-flex">
                <label class="form-label col-2 col-sm-12 pl-2" for="mood_value_max">
                    Maximum
                </label>
                <div class="has-icon-left col-10 col-sm-12">
                    <input type="number" min="0" class="form-input col-12" id="mood_value_max" name="mood_value_max" value="{{settings_mood_value_max}}">
                    <i class="form-icon icon material-icons">publish</i>
                </div>
            </div>

            <div class="form-group moodpoll-collapsible-flex">
                <label class="form-label col-2 col-sm-12 pl-2" for="mood_value_min">
                    Minimum
                </label>
                <div class="has-icon-left col-10 col-sm-12">
                    <input type="number" max="0" class="form-input col-12" id="mood_value_min" name="mood_value_min" value="{{settings_mood_value_min}}">
                    <i class="form-icon icon material-icons">get_app</i>
                </div>
            </div>

            <div class="divider moodpoll-collapsible-flex"></div>

            <div class="form-group">
                <label class="form-label col-2 col-sm-12" for="options">
                    Options
                </label>
                <div class="has-icon-left col-10 col-sm-12">
                    <textarea class="form-input col-12" id="options" rows="6" name="options" placeholder="options
one per line"></textarea>
                    <i class="form-icon icon material-icons">format_list_bulleted</i>
                </div>
            </div>

            <div class="column col-12">
                <div class="text-right">
                    <button class="btn btn-lg btn-primary">
                        Create New Poll
                        <i class="material-icons">send</i>
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>

{% endblock %}
