{% extends "moodpoll/base.html" %}

{% block title %}
New Poll
{% endblock %}

{% block content %}

<div class="columns">
    <div class="column col-6 col-md-9 col-sm-12">
        
        <form action="" method="post" class="form-horizontal">
            {% csrf_token %}
            <h3>
                Create a New Poll
            </h3>

            <div class="form-group">
                <label class="form-label col-2 col-sm-12" for="title">
                    Title
                </label>
                <input class="form-input col-10 col-sm-12" type="text" id="title" name="title" placeholder="optional: title">
            </div>

            <div class="form-group">
                <label class="form-label col-2 col-sm-12" for="description">
                    Description
                </label>
                <textarea class="form-input col-10 col-sm-12" id="description" name="description" placeholder="optional: description
markdown is enabled"></textarea>
            </div>

            <!-- 
            <label for="replies_hidden">
                Hide Replies
            </label>
            <input type="checkbox" name="replies_hidden" id="replies_hidden">
            -->

            <div class="form-group">
                <label class="form-label col-2 col-sm-12" for="options">
                    Options
                </label>
                <textarea class="form-input col-10 col-sm-12" id="options" rows="6" name="options" placeholder="options
one per line"></textarea>
            </div>

            <div class="column col-12">
                <div class="text-right">
                    <button class="btn btn-lg btn-primary">
                        Create New Poll
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>

{% endblock %}
