{% extends "moodpoll/base.html" %}
{% load extra_tags %}

{% block title %}{{c.poll.title}}{% endblock %}
{% block content %}

{# leave comment in html which will be recognized by unittest#}
<!--utc_show_poll-->

{% include "moodpoll/snippets/poll_title_description.html" %}

<form action="" method="post">
    {% csrf_token %}


    <div class="columns">
        <div class="column col-12 py-2">
            <div class="columns">
                <div class="column card no-border my-2 col-mx-auto col-6 col-md-9 col-s-12">
                    <div class="card-header">
                        <div class="card-title h5">
                            Please insert your name
                        </div>
                        <div class="card-body">
                            <div class="has-icon-left" style="col-12">
                                <input type="text" name="user_name" id="user_name" class="form-input" placeholder="Name" style="width:100%">
                                <i class="form-icon icon material-icons">person</i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <table class="table mb-2 column col-12">
            <tbody>
                {% for option in options %}
                <tr>
                    <td>
                        <div class="columns mx-1">
                            <div class="col-6 col-md-4 col-sm-12">
                                {{option.text}}
                            </div>
                            <div class="col-6 col-md-8 col-sm-12">
                                <div class="columns">
                                    <div class="col-1 text-center">
                                        <i class="material-icons">remove_circle_outline</i>
                                    </div>
                                    <div class="col-10 moodpoll-slider-bg-wrapper">
                                        <div class="moodpoll-slider-bg-input-div">
                                            <input name="option_{{option.pk}}" type="range" class="slider" min="{{option.poll.mood_value_min}}" max="{{option.poll.mood_value_max}}" value="0">
                                        </div>
                                        <div class="moodpoll-slider-bg-all">
                                            <div class="moodpoll-slider-bg-red" style="width: {% make_html_width poll.mood_value_min poll.mood_value_max 0 %}"></div>
                                        </div>
                                    </div>
                                    <div class="col-1 text-center">
                                        <i class="material-icons">add_circle_outline</i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

        <div class="col-12">
            <div class="col-6 col-md-9 col-sm-12 col-ml-auto text-right">
                <button class="btn btn-lg btn-primary">
                    Vote
                    <i class="material-icons">how_to_vote</i>
                </button>
            </div>
        </div>
    </div>
</form>

{% endblock %}
